In [1]:
import torch 
from transformers import pipeline
import pandas as pd

2024-02-26 12:02:30.550186: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
tqa = pipeline(task='table-question-answering', model='google/tapas-base-finetuned-wtq')

In [3]:
df = pd.read_parquet("dataClean.parquet")

In [4]:
df = df.astype(str)

In [5]:
df

                       type startDate_date endDate_date    value
0      Active Energy Burned     2022-11-22   2022-11-22  314.042
1      Active Energy Burned     2022-11-23   2022-11-23  462.682
2      Active Energy Burned     2022-11-24   2022-11-24  327.585
3      Active Energy Burned     2022-11-25   2022-11-25   85.837
4      Active Energy Burned     2022-11-26   2022-11-26  780.222
...                     ...            ...          ...      ...
14977   Walking Step Length     2024-02-21   2024-02-21   4769.0
14978   Walking Step Length     2024-02-22   2024-02-22   3361.0
14979   Walking Step Length     2024-02-23   2024-02-23   2631.0
14980   Walking Step Length     2024-02-24   2024-02-24   2074.0
14981   Walking Step Length     2024-02-25   2024-02-25   1624.0

[14982 rows x 4 columns]

In [10]:
df.head(20)

                    type startDate_date endDate_date    value
0   Active Energy Burned     2022-11-22   2022-11-22  314.042
1   Active Energy Burned     2022-11-23   2022-11-23  462.682
2   Active Energy Burned     2022-11-24   2022-11-24  327.585
3   Active Energy Burned     2022-11-25   2022-11-25   85.837
4   Active Energy Burned     2022-11-26   2022-11-26  780.222
5   Active Energy Burned     2022-11-27   2022-11-27   380.64
6   Active Energy Burned     2022-11-27   2022-11-28    4.904
7   Active Energy Burned     2022-11-28   2022-11-28  296.587
8   Active Energy Burned     2022-11-29   2022-11-29  341.754
9   Active Energy Burned     2022-11-30   2022-11-30   530.97
10  Active Energy Burned     2022-12-01   2022-12-01   76.783
11  Active Energy Burned     2022-12-02   2022-12-02  117.682
12  Active Energy Burned     2022-12-03   2022-12-03  127.763
13  Active Energy Burned     2022-12-04   2022-12-04   11.477
14  Active Energy Burned     2022-12-04   2022-12-05     0.02
15  Active Energy Burned     2022-12-05   2022-12-05   29.614
16  Active Energy Burned     2022-12-06   2022-12-06   47.913
17  Active Energy Burned     2022-12-06   2022-12-07     3.05
18  Active Energy Burned     2022-12-07   2022-12-07   74.686
19  Active Energy Burned     2022-12-08   2022-12-08  123.249

In [9]:
query = 'on which day I had the highest value of Active Energy Burned?'
print(tqa(table=df.head(20), query=query)['answer'])

2022-11-26